html, body{
	margin:0; padding: 0;
	background-color: #374140;
	position: relative;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

h4{
	color: #FFFFFF;
}

p {
    font-size: 20px;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
}

.section-header{
	font-size: 50px; 
	text-transform: uppercase; 
	font-family: 'Open Sans', sans-serif; 
	font-weight: 700;
	color: #ffffff;
}

/* Header */

.header {
    height: 100%;
	width: 100%;
    min-height: 100%;
	text-align: center;
    color: #FFF;
    background: #D9CB9E;
}

.vcenter {
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 800;
	color: #2A313E;
}

.intro-text .description {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
	color: #2A313E;
}

.intro-text .name:hover{
	color: #212731;
}

@media(min-width:600px) {
    .intro-text .name {
        font-size: 66px;
    }

    .intro-text .description {
        font-size: 24px;
    }
		
	
}

/* Links */

.aboutlink:link , .aboutlink:visited, .aboutlink:hover, .aboutlink:active{
    color: #DC3522;
}

/* Portfolio */

#portfolio {
    text-align: center;
    color: #FFF;
    background: #D9CB9E;
}

.portfolio-item {
    margin: 0 0 20px;
}

/* Contact Links */

a .fa {
	color: #FFF;
}

a .twitter {
	color: #4099FF;
}

a .github{
	color: #7F0F7D;
}

a .linkedin{
	color: #0077B5;
}

a .email{
	color: #C5C5C5;
}

/* Footer */

footer{
	background: #2A313E;
	height: 80px;
}