html, body{
	margin:0; padding: 0;
	background-color: #212B38;
    position: relative;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

h4{
	color: #FFFFFF;
}

p {
    font-size: 20px;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
}

/* Sections */

section {
	position: relative;
}

.section-header {
	font-size: 50px; 
	text-transform: uppercase; 
	font-family: 'Open Sans', sans-serif; 
	font-weight: 700;
	color: #ffffff;
}

.section-anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -10vh;
    left: 0;
    visibility: hidden;
}

/* Navigation */

.navigation{
	background-color: #3F4A56;
	position: fixed;
	height: 10%;
	width: 100%;
	z-index: 9999;
	text-align: center;
}

.navigation-items {
    list-style-type: none;
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navigation-item {
    display: inline;
    float: left;
    position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.navigation-item a {
	display: block;
    text-align: center;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.navigation-item a:hover {
    color: #d3d3d3;
    cursor: pointer;
}

/* Header */

.header {
    height: 100%;
	width: 100%;
    min-height: 100%;
	text-align: center;
    color: #FFF;
    background: url(../images/background.jpg) no-repeat;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.vcenter {
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 800;
    opacity: 0.95;
	color: #FFFFFF;
}

.intro-text .description {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.95;
	color: #FFFFFF;
}

@media(min-width:600px) {
    .navigation-item a {
        font-size: 20px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .intro-text .name {
        font-size: 66px;
    }

    .intro-text .description {
        font-size: 24px;
    }
}

/* Links */

.aboutlink:link, .aboutlink:visited, .aboutlink:hover, .aboutlink:active{
    color: #DC3522;
}

/* Portfolio */

#section-portfolio {
    text-align: center;
    color: #FFF;
    background: #C58B53;
}

.portfolio-item {
    margin: 0 0 20px;
}

/* Contact Links */

a .fa {
	color: #FFF;
}

a .twitter {
	color: #4099FF;
}

a .github{
	color: #7F0F7D;
}

a .linkedin{
	color: #0077B5;
}

a .email{
	color: #C5C5C5;
}

/* Footer */

footer{
	background: #3F4A56;
	height: 80px;
}